.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.title{
    border-bottom: 1px solid rgba(0, 0, 0, 0.499);
    padding-bottom: .5rem;
}