.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.card{
    width: 20%;
    padding: .5rem;
    border-radius: 8px;
    box-shadow: 2px 2px 15px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-param{
    display: flex;
    align-items: center;
    padding: 1rem;
}
.card-param > * {
    width: 50%;
    height: 30px;
}